@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/*
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { 
  border:0;
}
*/

body {
  padding-right: 1px;
  padding-left:  1px;
  /* padding-right: .5em;
  padding-left: .5em;
  max-width: 960px; */
  margin-right: auto;
  margin-left: auto;
}

p {
  font-family: "Times New Roman", "Bookman Old Style", serif;
  font-size: 100%;
  margin-top: 0em;
  margin-bottom: .5em;
}

.atext {
  cursor:pointer;
  text-decoration:underline;
  color:#0000FF;
}

.description p {
  margin-left: 1em;
  margin-right:1em;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.bsclst {
  margin-left:2em;
  margin-right:.25em;
}

.bnr {
  font-family: Verdana, Arial, sans-serif;
  font-size: 150%;
  font-weight: 700;
  font-style: italic;
  margin-left: 0;
  margin-top: 0em;
  position:relative;
  /* border:1px solid red; */
}

.bnr a:link {
  color: black;
  text-decoration:none;
}

.bnr a:visited {
  color: black;
  text-decoration:none;
}

/* Bracket Styles */
.brk-cont{

  margin:5px 5px 10px 5px;
  padding:0px;
  font-size:16px;

  /* bookmark  */

  --mu_vmargin:1em;
  --mu_width:10em;                               /* INPUT  */
  --mu_height:4.0em;                               /* INPUT  */
  --mu_hspace:calc(var(--mu_width) * -.3);                     /* INPUT  */
  --mu_vspace:calc(var(--mu_height) + var(--mu_vmargin));                               /* INPUT  */
  --mu_line_width:.2em;
  --mu_hline_length:.5em;                             /* INPUT */
  --mu_vsep_rnd1:calc(var(--mu_height) + var(--mu_vspace));
  --mu_vsep_rnd2:calc(2 * var(--mu_vsep_rnd1));
  --mu_vsep_rnd3:calc(2 * var(--mu_vsep_rnd2));
  --mu_vsep_rnd4:calc(2 * var(--mu_vsep_rnd3));
  --mu_vsep_rnd5:calc(2 * var(--mu_vsep_rnd4));
  --mu_hsep:calc(var(--mu_width) + var(--mu_hspace));
  
  --mu_left_rnd1:0em;                                   /* INPUT  should be 0.0*/
  --mu_left_rnd2:calc(var(--mu_left_rnd1) + var(--mu_hsep));
  --mu_left_rnd3:calc(var(--mu_left_rnd2) + var(--mu_hsep));
  --mu_left_rnd4:calc(var(--mu_left_rnd3) + var(--mu_hsep)); 
  --mu_left_rnd5:calc(var(--mu_left_rnd4) + var(--mu_hsep)); 
  --mu_left_rnd6:calc(var(--mu_left_rnd5) + var(--mu_hsep));

  --mu_top_1_1:0em;                                   /* INPUT  */
  --mu_top_1_2:calc(var(--mu_top_1_1) + var(--mu_vsep_rnd1));
  --mu_top_1_3:calc(var(--mu_top_1_2) + var(--mu_vsep_rnd1)); 
  --mu_top_1_4:calc(var(--mu_top_1_3) + var(--mu_vsep_rnd1)); 
  --mu_top_1_5:calc(var(--mu_top_1_4) + var(--mu_vsep_rnd1)); 
  --mu_top_1_6:calc(var(--mu_top_1_5) + var(--mu_vsep_rnd1)); 
  --mu_top_1_7:calc(var(--mu_top_1_6) + var(--mu_vsep_rnd1)); 
  --mu_top_1_8:calc(var(--mu_top_1_7) + var(--mu_vsep_rnd1)); 

  --mu_top_2_1:calc(var(--mu_top_1_1) + .5 * var(--mu_vsep_rnd1));  

  --mu_top_2_2:calc(var(--mu_top_2_1) + var(--mu_vsep_rnd2));
  --mu_top_2_3:calc(var(--mu_top_2_2) + var(--mu_vsep_rnd2)); 
  --mu_top_2_4:calc(var(--mu_top_2_3) + var(--mu_vsep_rnd2)); 

  --mu_top_3_1:calc(var(--mu_top_2_1) + .5 * var(--mu_vsep_rnd2));
  --mu_top_3_2:calc(var(--mu_top_3_1) + var(--mu_vsep_rnd3));

  --mu_top_4_1:calc(var(--mu_top_3_1) + .5 * var(--mu_vsep_rnd3));






  }

  .brk-desciption-cont{
    display:flex;

  }


  .brk-rnd-desciption{
  width:calc(var(--mu_width) + 2.0 * var(--mu_hspace));
  text-align:center;
  margin:0 0 0 calc(-1.00 * var(--mu_hspace));
  font-size:100.1%;
  font-family: "Verdana", "Arail", "Sans-Serif";
  font-weight:700;
  }

  .brk-rnd-desciption:first-of-type{
  margin-left:calc(-1.0 * var(--mu_hspace) + var(--mu_left_rnd1));
  }

  .brk-rnd-desciption:nth-last-of-type(2){
  margin-right:calc(-1.0 * var(--mu_hspace));
  }

  .brk-rnd-desciption:last-of-type{
  display:none;
  } 

  .brk-rnd-desciption span{
  font-weight:normal;
  }

  .brk-ttbd{
  font-style:italic;
  color:#979797;
  }

  .brk-tactive{
     font-weight:bold;
     white-space:nowrap;
     overflow:hidden;
  }

  .brk-twinner{
     white-space:nowrap;
     overflow:hidden;
  }
  
  .brk-tloser{
    color:#979797;
    white-space:nowrap;
    overflow:hidden;
  }

  .brk-tseed{

  }

  .brk-caption h2{
  text-align:center;
  background: #FFCC99;
  padding: .5em 0 .5em 0;
  border:1px solid black;

  }

  .brk-cont ul{
  position:relative;
  height:calc(var(--mu_top_1_8) + var(--mu_height));                                       /* INPUT  */
  margin:1em 0 25px 0;
  padding:0;

  }

  .brk-cont li{
  display:block;
  margin:0;
  }

  .brk-mu{
  border:solid  black 2px;
  border-radius:.2em;
  width:var(--mu_width);
  height:var(--mu_height);
  margin: 0;
  padding:0;
  position:absolute;
  box-sizing:border-box;
  background-color: white;
  padding-bottom:.15em;
  }

  .brk-bteam{
  padding-left:.25em;
  padding-right:.25em;
  height:36%;
  display:flex;
  align-items:center;
  justify-content: space-between;
  }

  .brk-tteam{
  border-bottom:solid;
  border-bottom-width:1px;
  padding-left:.25em;
  padding-right:.25em;
  height:34%;
  display:flex;
  align-items:center;
  justify-content: space-between;

  }

  .brk-date{
    padding-left:.25em;
    padding-right:.25em;  
    height:30%;
    display:flex;
    align-items:center;
    border-bottom:solid;
    font-family: "Arial Narrow", "Arial", "Sans-Serif";
    font-size:.85em; 
    background: #FFF2E5;
    border-bottom-width:2px;
    white-space:nowrap;
    overflow:hidden;

   }


  .brk-rnd1{
    position:absolute; 
    left:var(--mu_left_rnd1);   
  }
   
   
  .brk-rnd2{
    position:absolute;
    left:var(--mu_left_rnd2);
  }

  .brk-rnd3{
  position:absolute;
  left:var(--mu_left_rnd3);

  }

  .brk-rnd4{
  position:absolute;
  left:var(--mu_left_rnd4);

  }

  .brk-rnd5{
  position:absolute;
  left:var(--mu_left_rnd5);

  }    



  /* Round 1 brk-mu1 thourgh mu8 */

  #brk-mu_1_1{
  top:var(--mu_top_1_1);

  }

  #brk-mu_1_2{
  top:var(--mu_top_1_2);
  }

  #brk-mu_1_3{
  top:var(--mu_top_1_3);
  }


  #brk-mu_1_4{
  top:var(--mu_top_1_4);
  }


  #brk-mu_1_5{
  top:var(--mu_top_1_5);
  }


  #brk-mu_1_6{
  top:var(--mu_top_1_6);
  }


  #brk-mu_1_7{
  top:var(--mu_top_1_7);
  }


  #brk-mu_1_8{
  top:var(--mu_top_1_8);
  }
            

  /* Round 2 brk-mu9 thourgh mu 12*/

  #brk-mu_2_1{
  top:var(--mu_top_2_1);
  }

  #brk-mu_2_2{
  top:var(--mu_top_2_2);
  }

  #brk-mu_2_3{
  top:var(--mu_top_2_3);
  }

  #brk-mu_2_4{
  top:var(--mu_top_2_4);
  }  

  /* Round 3 brk-mu13 thourgh mu 14*/
  #brk-mu_3_1{
  top:var(--mu_top_3_1);
  }

  #brk-mu_3_2{
  top:var(--mu_top_3_2);
  }


  /* Round 4 brk-mu15*/

  #brk-mu_4_1{
  top:var(--mu_top_4_1);
  }

  /* Round 5 brk-16 is winner  */
  #brk-final-box{
  height:calc(.5 * var(--mu_height));
  top:calc(.25 * var(--mu_height) + var(--mu_top_4_1));
  padding-left:.5em;
  padding-right:.5em;
  display:none;
  align-items:center;

  }

  #brk-final-line{
  top:calc(.5 * (var(--mu_height) - var(--mu_line_width)) + var(--mu_top_4_1));
  left:calc(var(--mu_left_rnd4) + var(--mu_width));   
  width:var(--mu_hspace);
  display:none;
  }

  /* line styles  */

  .brk-hline{
  width:var(--mu_hline_length);
  height:1em;
  border-top:solid var(--mu_line_width) #ABABAB;
  position:absolute;
  box-sizing:border-box;
  }

  .brk-uhline{
   width:calc(var(--mu_hline_length) + .5 * var(--mu_line_width));
   height:1em;
   /* border:dotted thin green; */
   border-top:solid var(--mu_line_width) #ABABAB;
   border-left:solid var(--mu_line_width) #ABABAB;
   position:absolute;
   box-sizing:border-box;
   z-index: -1;
   }
   
  .brk-dhline{
   width:calc(var(--mu_hline_length) + .5 * var(--mu_line_width));
   height:1em;
   border-bottom:solid var(--mu_line_width) #ABABAB;
   border-left:solid var(--mu_line_width) #ABABAB;
   position:absolute;
   box-sizing:border-box;
   z-index: -1;
   }

  /* Hortizonal Lines */  
   
   
  /* Round 1  */   
  #brk-line_1_1{
    top:calc(.5 * (var(--mu_height) - var(--mu_line_width)) + var(--mu_top_1_1));
  left:calc(var(--mu_left_rnd1) + var(--mu_width));  
  }

  #brk-line_1_2{
    /* top:calc(1 * (var(--mu_height) + var(--mu_vspace)) + .5 * (var(--mu_height) - var(--mu_line_width)));  */
    top:calc(.5 * (var(--mu_height) - var(--mu_line_width)) + var(--mu_top_1_2));
  left:calc(var(--mu_left_rnd1) + var(--mu_width));  
  }

  #brk-line_1_3{
    top:calc(.5 * (var(--mu_height) - var(--mu_line_width)) + var(--mu_top_1_3));
  left:calc(var(--mu_left_rnd1) + var(--mu_width));  
  }

  #brk-line_1_4{
    top:calc(.5 * (var(--mu_height) - var(--mu_line_width)) + var(--mu_top_1_4));
  left:calc(var(--mu_left_rnd1) + var(--mu_width));  
  }

  #brk-line_1_5{
    top:calc(.5 * (var(--mu_height) - var(--mu_line_width)) + var(--mu_top_1_5));
  left:calc(var(--mu_left_rnd1) + var(--mu_width));  
  }

  #brk-line_1_6{
    top:calc(.5 * (var(--mu_height) - var(--mu_line_width)) + var(--mu_top_1_6));
  left:calc(var(--mu_left_rnd1) + var(--mu_width));  
  }

  #brk-line_1_7{
    top:calc(.5 * (var(--mu_height) - var(--mu_line_width)) + var(--mu_top_1_7));
  left:calc(var(--mu_left_rnd1) + var(--mu_width));  
  }

  #brk-line_1_8{
    top:calc(.5 * (var(--mu_height) - var(--mu_line_width)) + var(--mu_top_1_8));
  left:calc(var(--mu_left_rnd1) + var(--mu_width));  
  }

  /* Round 2  */  

  #brk-line_2_1{
    top:calc(.5 * (var(--mu_height) - var(--mu_line_width)) + var(--mu_top_2_1));
  left:calc(var(--mu_left_rnd2) + var(--mu_width));  
  }

  #brk-line_2_2{
    top:calc(.5 * (var(--mu_height) - var(--mu_line_width)) + var(--mu_top_2_2));
  left:calc(var(--mu_left_rnd2) + var(--mu_width));  
  }

  #brk-line_2_3{
    top:calc(.5 * (var(--mu_height) - var(--mu_line_width)) + var(--mu_top_2_3));
  left:calc(var(--mu_left_rnd2) + var(--mu_width));  
  }

  #brk-line_2_4{
    top:calc(.5 * (var(--mu_height) - var(--mu_line_width)) + var(--mu_top_2_4));
  left:calc(var(--mu_left_rnd2) + var(--mu_width));  
  }

  /* Round 3  */  

  #brk-line_3_1{
    top:calc(.5 * (var(--mu_height) - var(--mu_line_width)) + var(--mu_top_3_1));
  left:calc(var(--mu_left_rnd3) + var(--mu_width));  
  }

  #brk-line_3_2{
    top:calc(.5 * (var(--mu_height) - var(--mu_line_width)) + var(--mu_top_3_2));
  left:calc(var(--mu_left_rnd3) + var(--mu_width)); 
  } 




  /* Up/Down and over lines */


  /*  Round 1 */

  #brk-line_1_1_2_1{

  top:calc(.5 * (var(--mu_height) - var(--mu_line_width)) + var(--mu_top_1_1));  
  left:calc(var(--mu_left_rnd1) + var(--mu_width) + var(--mu_hline_length) - .5 * var(--mu_line_width));   
  height:calc(var(--mu_top_2_1) - var(--mu_top_1_1) + var(--mu_line_width));

  }

  #brk-line_1_2_2_1{
  top:calc(.5 * (var(--mu_height) - var(--mu_line_width)) + var(--mu_top_2_1));
  left:calc(var(--mu_left_rnd1) + var(--mu_width) + var(--mu_hline_length) - .5 * var(--mu_line_width));
  height:calc(var(--mu_top_1_2) - var(--mu_top_2_1) + var(--mu_line_width));
  }



  #brk-line_1_3_2_2{
  top:calc(.5 * (var(--mu_height) - var(--mu_line_width)) + var(--mu_top_1_3));  
  left:calc(var(--mu_left_rnd1) + var(--mu_width) + var(--mu_hline_length) - .5 * var(--mu_line_width));   
   height:calc(var(--mu_top_2_2) - var(--mu_top_1_3) + var(--mu_line_width));

  }

  #brk-line_1_4_2_2{
  top:calc(.5 * (var(--mu_height) - var(--mu_line_width)) + var(--mu_top_2_2));
  left:calc(var(--mu_left_rnd1) + var(--mu_width) + var(--mu_hline_length) - .5 * var(--mu_line_width));
 height:calc(var(--mu_top_1_4) - var(--mu_top_2_2) + var(--mu_line_width));  
  }

  #brk-line_1_5_2_3{
  top:calc(.5 * (var(--mu_height) - var(--mu_line_width)) + var(--mu_top_1_5));  
  left:calc(var(--mu_left_rnd1) + var(--mu_width) + var(--mu_hline_length) - .5 * var(--mu_line_width));   
   height:calc(var(--mu_top_2_3) - var(--mu_top_1_5) + var(--mu_line_width));

  }

  #brk-line_1_6_2_3{
  top:calc(.5 * (var(--mu_height) - var(--mu_line_width)) + var(--mu_top_2_3));
  left:calc(var(--mu_left_rnd1) + var(--mu_width) + var(--mu_hline_length) - .5 * var(--mu_line_width));
   height:calc(var(--mu_top_1_6) - var(--mu_top_2_3) + var(--mu_line_width));
  }

  #brk-line_1_7_2_4{
  top:calc(.5 * (var(--mu_height) - var(--mu_line_width)) + var(--mu_top_1_7));  
  left:calc(var(--mu_left_rnd1) + var(--mu_width) + var(--mu_hline_length) - .5 * var(--mu_line_width));   
   height:calc(var(--mu_top_2_4) - var(--mu_top_1_7) + var(--mu_line_width));

  }

  #brk-line_1_8_2_4{
  top:calc(.5 * (var(--mu_height) - var(--mu_line_width)) + var(--mu_top_2_4));
  left:calc(var(--mu_left_rnd1) + var(--mu_width) + var(--mu_hline_length) - .5 * var(--mu_line_width));
   height:calc(var(--mu_top_1_8) - var(--mu_top_2_4) + var(--mu_line_width));
  }

  /*  Round 2 */
  #brk-line_2_1_3_1{
  top:calc(.5 * (var(--mu_height) - var(--mu_line_width)) + var(--mu_top_2_1));  
  left:calc(var(--mu_left_rnd2) + var(--mu_width) + var(--mu_hline_length) - .5 * var(--mu_line_width));   
   height:calc(var(--mu_top_3_1) - var(--mu_top_2_1) + var(--mu_line_width));

  }

  #brk-line_2_2_3_1{
  top:calc(.5 * (var(--mu_height) - var(--mu_line_width)) + var(--mu_top_3_1));
  left:calc(var(--mu_left_rnd2) + var(--mu_width) + var(--mu_hline_length) - .5 * var(--mu_line_width));
   height:calc(var(--mu_top_2_2) - var(--mu_top_3_1) + var(--mu_line_width));
  }



  #brk-line_2_3_3_2{
  top:calc(.5 * (var(--mu_height) - var(--mu_line_width)) + var(--mu_top_2_3));  
  left:calc(var(--mu_left_rnd2) + var(--mu_width) + var(--mu_hline_length) - .5 * var(--mu_line_width));   
   height:calc(var(--mu_top_3_2) - var(--mu_top_2_3) + var(--mu_line_width));

  }

  #brk-line_2_4_3_2{
  top:calc(.5 * (var(--mu_height) - var(--mu_line_width)) + var(--mu_top_3_2));
  left:calc(var(--mu_left_rnd2) + var(--mu_width) + var(--mu_hline_length) - .5 * var(--mu_line_width));
   height:calc(var(--mu_top_2_4) - var(--mu_top_3_2) + var(--mu_line_width));
  }



  /*  Round 3 */  

  #brk-line_3_1_4_1{
  top:calc(.5 * (var(--mu_height) - var(--mu_line_width)) + var(--mu_top_3_1));  
  left:calc(var(--mu_left_rnd3) + var(--mu_width) + var(--mu_hline_length) - .5 * var(--mu_line_width));   
   height:calc(var(--mu_top_4_1) - var(--mu_top_3_1) + var(--mu_line_width));

  }

  #brk-line_3_2_4_1{
  top:calc(.5 * (var(--mu_height) - var(--mu_line_width)) + var(--mu_top_4_1));
  left:calc(var(--mu_left_rnd3) + var(--mu_width) + var(--mu_hline_length) - .5 * var(--mu_line_width));
   height:calc(var(--mu_top_3_2) - var(--mu_top_4_1) + var(--mu_line_width));
  } 


  /* bookmark  */



  /* Iphone5 - 568 : IPAD Landscape   - 768px */
  @media (min-width: 568px){  
    .brk-cont{
     margin:5px 5px 5px 5px;
     --mu_hspace:1em;    
     --mu_vspace:calc(var(--mu_vmargin));
    

     --mu_hline_length:calc(.5 * var(--mu_hspace));                  /* INPUT */  
     /*--mu_left_rnd1:calc(.5 * var(--mu_hspace));                     /* INPUT  */   
     
    }

    .brk-rnd-desciption{

    margin:0 0 0 calc(var(--mu_hspace));
    width:calc(var(--mu_width));

    }

    .brk-rnd-desciption:first-of-type{
    margin-left:0em;
    } 
     
    .brk-rnd-desciption:nth-last-of-type(2){
    margin-right:0em;
    }   
  }

  @media print, (min-width: 960px){
    #brk-final-box{
    display:flex;
    }

    #brk-final-line{
    display:block;
    }
    
    .brk-rnd-desciption:last-of-type{
    display:block;
    }
  }


  @media print, (min-width: 1270px){
    .brk-cont{
     margin:5px 10px 5px 10px;
     --mu_hspace:2em;   
    }
  }


  
 


 .brk-cont{

  --mu_top_2_1:0em;
  --mu_vsep_rnd2:calc(2 * var(--mu_height) + var(--mu_vmargin));
  --mu_vsep_rnd1:calc(.5 * var(--mu_vsep_rnd2));
  --mu_top_1_1:calc(-.5 * var(--mu_vsep_rnd1));
  --mu_top_1_1:0em;
  --mu_top_1_7:calc(5.0 *  var(--mu_vsep_rnd1));
 
  }
  

 
@media (min-width: 568px){ 
.brk-cont{   
   	--mu_vsep_rnd2:calc(var(--mu_height) + var(--mu_vmargin));
 		--mu_top_1_1:calc(-1.0 * var(--mu_vsep_rnd1));
		--mu_top_1_7:calc(6.0 *  var(--mu_vsep_rnd1));
	}	
}

.hb {
  /* border: 1px solid black; */
  position: absolute;
  right:0;
  font-family: Verdana, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  display:inline;
  font-size:75%;
}

#snav .hb {
  font-size:150%;
  /* top:-.40em; */
}

.hb a:link {
  color: black;
  text-decoration:none;
}

.hb a:visited {
  color: black;
  text-decoration:none;
}

.da a:link {
  color: black;
  text-decoration:none;
}

.da a:visited {
  color: black;
  text-decoration:none;
}

h1 {
  font-family: Verdana, Arial, sans-serif;
  font-size: 150%;
  font-weight: 700;
  margin-top: 0em;
}

h2 {
  font-family: Verdana, Arial, sans-serif;
  font-size: 150%;
  font-weight: 700;
  margin-top: 0em;
  /* border-left: 1px dotted;border-right: 1px dotted;border-top: 1px dotted;border-bottom: 1px dotted;
  margin-height: 22%; */
}

h3 {
  font-family: Verdana, Arial, sans-serif;
  font-size: 115%;
  font-weight: 700;
  margin-top: 0em;
}

caption {
  font-family: Verdana, Arial, sans-serif;
  font-size: 115%;
  font-weight: 700;
  margin-bottom:.25em;
}

table {
  /* font-size: 9.0px;  */
  border-collapse: collapse;
  border: 1px solid gray;
  margin: 0px;
  width: 100%;
}

td {
  border: 1px solid gray;
  text-align:center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
  /* height:27px; */
}

.tblteam {
  /* height: 22px;  */
  text-align:left;
  padding-left:1px;
}

th {
  border:1px solid gray;
  font-family: Verdana, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  background: #D2D2D2;
  padding:0px;
}

.tt {
  position: relative;
}

.tt .ttc {
  display:none;
  position: absolute;
  top:90%;
  /* left:90%; */
  font-weight:normal;
  font-size:14px;
  font-style:normal;
  background-color:#FFFDBF;
  border:solid 1.5px black;
  border-radius:5px;
  z-index: 1;
  padding: .25em;
  text-align:left;
  font-family:monospace;
  width:min-content;
  color:black;
  white-space: nowrap;
}

.tt_info {
  color:blue;
  font-family: "Times New Roman", serif;
  font-style: italic;
  vertical-align: super;
  font-size:smaller;
}

ul {
  padding-left:1.25rem;
}

nav ul {
  list-style-type: none;
  /* margin: 0px; */
  padding: 0;
  /* left: 0px; */
  /* border:1px solid black; */
  padding-left:.25rem;
}

nav li {
  /* left: 0px; */
  /* margin-left:0px; */
  /* border:1px solid red; */
  /* height: 26px; */
  margin-bottom: 8px;
}

.libreak {
  /* height: 52px; */
  margin-bottom: 28px;
}

.wide {
  display:none;
}

.wkinfo {
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}

.flxbx1 {
  /* display:-ms-flex; */
  display:-webkit-flex;
  display:flex;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.flxbx2 {
  /* display:-ms-flex; */
  display:-webkit-flex;
  display:flex;
  /* -ms-flex-wrap: wrap; */
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin:0px;
  padding:1px;
  border:1px solid gray;
  width:auto;
}

.conflst {
  border: none;
  list-style: none;
  /* display:-ms-flex; */
  display:-webkit-flex;
  display:flex;
  /* -ms-flex-wrap: wrap; */
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin:0;
  padding:0;
  /* margin: 0px;
  padding: .2%;
  left: 0px; */
  width:100%;
}

.conflst li {
  -webkit-flex-grow:1;
  -webkit-flex-shrink:1;
  -webkit-flex-basis:45%;
  flex-grow:1;
  flex-shrink:1;
  flex-basis:45%;
  border:1px solid gray;
  margin:1px;
  padding: .25em;
  text-align:center;
}

img {
  border: none;
  max-width: 100%;
  height: auto;
}

.description {
  margin-bottom:1em;
  padding-left:.25em;
}

header {
  padding-left:.25em;
}

nav {
  margin: 0px;
  padding: .25em;
  /* margin:1px;
  padding:.5em; */
  font-family: Verdana, Arial, sans-serif;
  font-size: 100%;
  /* line-height: 170%; 165 not big enough */
  border:1px solid gray;
  -webkit-order:2;
  -webkit-flex-grow:1;
  -webkit-flex-shrink:1;
  -webkit-flex-basis:100%;
  order:2;
  flex-grow:1;
  flex-shrink:1;
  flex-basis:100%;
}

.mncntnt {
  margin:0px;
  margin-bottom:1px;
  padding: 1px;
  padding-top:.5em;
  border:1px solid gray;
  /* margin:1px;
  padding:.25em; */
  -webkit-order:1;
  -webkit-flex-grow:1;
  -webkit-flex-shrink:1;
  -webkit-flex-basis:100%;
  order:1;
  flex-grow:1;
  flex-shrink:1;
  flex-basis:100%;
}

.cntntitle {
  text-align: center;
}

.sitenotes {
  font-size: larger;
  font-weight: 700;
}

.nav-button {
  box-sizing: content-box;
  cursor: pointer;
  display: inline-flex;
  font-size: 11px;
  text-transform: uppercase;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  margin-right: 10px;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  white-space: nowrap;
  height: 10px;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-image: initial;
}

.nav-button:focus {
  outline: none;
}

.nav-button:disabled,
.nav-button[disabled] {
  background-color: #cccccc;
  color: #666666;
  cursor: no-drop;
}

.nav-button-active {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.redcell {
  color: #ff0000
}

.greencell {
  color: #008000
}

.breadcrumbs {
  font-family: Verdana, Arial, sans-serif;
  font-size:75%;
  font-weight: 400;
  /* white-space: nowrap; */
  line-height: 200%;
}

.breadcrumbs a {
  color: #969696;
}

.datetime {
  font-family: Verdana, Arial, sans-serif;
  font-size:75%;
  font-weight: 400;
  color: #969696;
  line-height: 200%;
}

.grayed {
  color: #969696;
}

footer {
  margin-top:1em;
  font-size: 75%;
  text-align: center;
}

.gr_winner {
  background: #D2D2D2;
}

.gr_loser{
  
}

.gr_notplayed{

} 

.makebold {
  font-weight: 700;
}

.notes {
  font-family: "Times New Roman", serif;
  font-size: 75%;
  text-align: left;
}

.sepRow {
  background: #D2D2D2;
  font-size: 0px;
  margin-top:0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 2px;
}

.cutline {
  background: #D2D2D2;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 50%;
  text-align:left;
  height: auto;
}

.st {
  width:35%;
}

.ss {
  width:12%;
}

.sd {
  width:18%;
}

.sah {
  width:18%;
}

.sw {
  width:10%;
 }

.so {
  width:54%;
}

@media (min-width: 360px) and (max-width:413px) {
  .bnr{
    font-size: 200%;
  }
}

@media (min-width: 414px) and (max-width:479px) {
  
  /* table {
  font-size: 12.9px;
  } */

  .bnr{
  font-size: 200%;
  }
}

@media (min-width: 480px) and (max-width:567px) {

  .bnr {
    font-size: 200%;
  }

  .conflst li {
    -webkit-flex-basis:22%;
    flex-basis:22%
  }

  .conflst .c3 {
    -webkit-flex-basis:27%;
    flex-basis:27%;
  }

  .conflst .c5 {
    -webkit-flex-basis:18%;
    flex-basis:18%;
  }

  .conflst .c6 {
    -webkit-flex-basis:15%;
    flex-basis:15%;
  }
}

 /* Iphone5 - 568 : IPAD Landscape   - 768px */
 @media (min-width: 568px) and (max-width:767px) {

  /* table {
    font-size: 16.0px;
  } */

  .bnr{
    font-size: 200%;
  }

  .conflst li{
    -webkit-flex-basis:22%;
    flex-basis:22%
  }

  .conflst .c3{
    -webkit-flex-basis:27%;
    flex-basis:27%;
  }

  .conflst .c5{
    -webkit-flex-basis:18%;
    flex-basis:18%;
  }

  .conflst .c6{
    -webkit-flex-basis:15%;
    flex-basis:15%;
  }
  
}

/* IPAD Portrait   - 768px - nav on left pane -  */
@media (min-width: 768px) and (max-width:960px) {

  .bnr {
    font-size: 200%;
  }

  .hb {
    display:none;
  }

  body {
    padding-right: .5em;
    padding-left: .5em;
  }

  .description{
    padding-left:0em;
  }

  header {
    padding-left:0em;
  }

  .description p {
    margin-left: 5%;
    margin-right: 5%;
  }

  ul {
    padding-left:3.25rem;
  }

  .bsclst{
    margin-left:7%;
  }

  .description div {
    margin-left:5%;
  }

  .sepRow {
    height: 1px;
  }

  td {
    /* height: auto; */
    padding: 2px;
  }

  th {
    padding: 2px;
  }

  .tblteam {
    /* height: auto; */
    padding-left:2px;
  }

  .mncntnt {
    margin:1px;
    padding: 4px;
    -webkit-order:2;
    -webkit-flex-grow:1;
    -webkit-flex-shrink:1;
    -webkit-flex-basis:100%;
    order:2;
    flex-grow:1;
    flex-shrink:1;
    flex-basis:100%;
  }

  nav {
    /* width:intial; */
    margin:1px;
    padding:.5em;
    min-width: 175px;
    font-size: 75%;
    /* line-height: 240%; */
    -webkit-order:1;
    -webkit-flex-grow:0;
    -webkit-flex-shrink:0;
    -webkit-flex-basis:auto;
    order:1;
    flex-grow:0;
    flex-shrink:0;
    flex-basis:auto;
  }

  nav li {
    /* height: 20px; */
    margin-bottom: 4px;
  }

  .flxbx2 {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .conflst li{
    -webkit-flex-basis:22%;
    flex-basis:22%
  }

  .conflst .c3{
    -webkit-flex-basis:27%;
    flex-basis:27%;
  }

  .conflst .c5{
    -webkit-flex-basis:18%;
    flex-basis:18%;
  }

  .conflst .c6{
    -webkit-flex-basis:15%;
    flex-basis:15%;
  }

} /* End IPAD Portrait   - 768px - nav on left pane -  */


/* Total Desktop Mode - add wide mode - no table collapse*/
@media print, (min-width: 960px) {

  body {
    padding-right: 2em;
    padding-left: 2em;
  }

  .description {
    padding-left:0em;
  }

  header {
    padding-left:0em;
  }

  .bnr {
    font-size: 200%;
  }

  .hb {
    display:none;
  }

  .description p {
    margin-left: 5%;
    margin-right: 5%;
  }

  ul {
    padding-left:3.25rem;
  }

  .bsclst {
    margin-left:7%;
  }

  .description div {
    margin-left:5%;
  }

  table {
    /* font-size: 100%; */
    border-collapse: separate;
  }

  .sepRow {
    height: 1px;
  }

  td {
    padding: 2px;
    /* height: auto; */
  }

  th {
    padding: 2px;
  }

  .tblteam {
    /* height: auto; */
    padding-left:2px;
  }

  .mncntnt {
    margin:1px;
    padding:4px;
    -webkit-order:2;
    -webkit-flex-grow:1;
    -webkit-flex-shrink:1;
    -webkit-flex-basis:100%;
    order:2;
    flex-grow:1;
    flex-shrink:1;
    flex-basis: 100%;
  }

  nav {
    /* width:intial; */
    margin:1px;
    padding:.5em;
    min-width: 175px;
    font-size: 75%;
    /* line-height: 240%; */
    -webkit-order:1;
    -webkit-flex-grow:0;
    -webkit-flex-shrink:0;
    -webkit-flex-basis:auto;
    order:1;
    flex-grow:0;
    flex-shrink:0;
    flex-basis:auto;
  }

  .flxbx2 {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .wide {
    display:inline;
  }

  .narrow {
    display:none;
  }

  nav li {
    /* height: 20px; */
    margin-bottom: 4px;
  }

  .conflst li {
    -webkit-flex-basis:22%;
    flex-basis:22%
  }

  /* .conflst li .wwc {
    -webkit-flex-basis:27%;
    flex-basis:27%;
    border:1px, solid, red;
  } */

  .conflst .c3 {
    -webkit-flex-basis:27%;
    flex-basis:27%;
  }

  .conflst .c5 {
    -webkit-flex-basis:18%;
    flex-basis:18%;
  }

  .conflst .c6 {
    -webkit-flex-basis:15%;
    flex-basis:15%;
  }

}

/* Total Desktop Mode - add wide mode - no table collapse*/
@media print{
  
  nav {
    display:none;
  }

}
